.main {
    margin: 80px 100px 100px 150px;
    width: 75%;
    height: 700px;
    border: 0px solid aqua;
    background-color: blanchedalmond;
}

.left-set {
    width: 18%;
    height: 100%;
    border: 0px solid red;
    background-color: khaki;
    float: left;
}


.title-set {
    width: 100%;
    height: 5%;
    background-color: red;
}

.dialog-set {
    width: 100%;
    height: 73%;
    background-color: #CCFF99;
}

.util-set {
    width: 100%;
    height: 5%;
    background-color: black;
}

.under-set {
    width: 100%;
    height: 17%;
    background-color: #BEC5CC;
}

.msg_set {
    height: 99%;
    width: 85%;
    background-color: white;
}

.send_msg {
    width: 15%;
    height: 100%;
    background-color: #BEC5CC;
    float: right;
    margin-top: -118px;
}

.send_button {
    margin: 30px 0px 0px 55px;
    width: 35px;
    height: 30%;
}