<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>webchat</title>
    <link rel="stylesheet" href="/static/css/webchat/index.css" />
</head>
<body>
    <div class="main">

        <div class="left-set">
            <div class="contact-person" onclick="getUserFriend();">当前联系人</div>
            <div class="contact-group">群组</div>

            <div class="black-box1" id="content">

            </div>
        </div>

        <div class="title-set" contact-id="" contact-type="">

        </div>

        <div class="dialog-set">

        </div>

        <div class="util-set">

        </div>

        <div class="under-set">
            <div class="msg_set">
                <textarea name="" style="height: 94%; width: 78%;">
                    adfadsfasdf
                </textarea>
            </div>
            <div class="send_msg">
                <button class="send_button">发送</button>
            </div>
        </div>

    </div>


    <div id="friend" style="display: none;">
        {% if request.user.is_authenticated %}
            {{ user.email }}
        {% endif %}
    </div>

    <div id="username" style="display: none;">
        {% if request.user.is_authenticated %}
            {{ user.username }}
        {% endif %}
    </div>

    <div id="id" style="display: none;">
        {% if request.user.is_authenticated %}
            {{ user.id }}
        {% endif %}
    </div>

    <div id="group" style="display: none;">
        {% if request.user.is_authenticated %}
            {{ user.email }}
        {% endif %}
    </div>

</body>
<script type="text/javascript" src="/static/js/webchat/webchat.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.2.4.js"></script>
</html>